.wrapperDiv {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .arrowLeft,
    .arrowRight {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        &:hover {
            cursor: pointer;
        }
    }
    .arrowLeft {
        background-image: url('src/img/arrow-left.png');
    }
    .arrowRight {
        background-image: url('src/img/arrow-right.png');
    }
    .wrapperInnerDiv {
        display: inline-block;
        overflow: hidden;
        .imagesDiv {
            position: relative;
            left: 0;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            .imgWrapper {
                margin: 0;
                display: flex;
                align-items: center;
                .innerImg {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

//style dla usera

section {
  padding: 10px;
  border: 5px dotted #ddd;
  border-radius: 25px;
}
input,
button {
  height: 25px;
  width: 150px;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 5px 0 0 0;
  &:hover {
    cursor: pointer;
  }
}
h1 {
  font-family: courier new;
  font-size: 32px;
}
h4 {
  font-family: courier new;
  letter-spacing: -1.5px;
  font-size: 18px;
  margin: 10px 0 5px;
}
.uwaga {
  font-size: 16px;
  color: red;
  padding: 0 0 15px 0;
}

.leftright {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 0;
  padding: 0;
}

.leftright:hover {
  cursor: pointer;
}

#ok {
  display: block;
  height: 25px;
  width: 208px;
  border: 2px solid black;
  margin-top: 15px;
}
code,
xmp {
  font-family: courier new;
  font-size: 10px;
  display: block;
  white-space: pre-wrap
}
