.wrapperDiv {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .arrowLeft,
    .arrowRight {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        &:hover {
            cursor: pointer;
        }
    }
    .arrowLeft {
        background-image: url('src/img/arrow-left.png');
    }
    .arrowRight {
        background-image: url('src/img/arrow-right.png');
    }
    .wrapperInnerDiv {
        display: inline-block;
        overflow: hidden;
        .imagesDiv {
            position: relative;
            left: 0;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            .imgWrapper {
                margin: 0;
                display: flex;
                align-items: center;
                .innerImg {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}
